@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

// for App.tsx
.content-page {
  display: flex;
}

// For pages in router
.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
