:root {
  /** ------------- FONTS ------------- */
  // do not use $, due to after compilation to css will give var()
  --font-family-main: consolas, "Times New Roman", serif;

  // small size
  --font-size-s: 12px;
  --font-line-s: 20px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // medium size
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // large size
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // extra-large size
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  /** ------------ DIMENSIONS ----------------- */
  // Navbar
  --navbar-height: 50px;

  // Sidebar
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // z-indexes
  --modal-z-index: 1000;

  /** ------------- COLORS ---------------- */
  --overlay-color: rgba(0 0 0 / 60%);
  --red-light: #f00;
  --red-dark: #ce0505;
}
